@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #678983 ;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f8f9fa;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu {
border-radius: 15px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #3e3f40;
    border-radius: 25px;
    background-color: #f8f9fa;
}

.actions {
    display: flex;
    align-items: center;
}

.wrapper .content-wrapper {
    background-color: #314a36;
    display: flex;
}

.content {
    flex: 1;
    min-width: 0;
}

input[type="search" i] {
    border: 1px solid black;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content:center;
}

.col-md-5 {
    max-width:20%;
}

.bg-dark {
	background-color: #222831 !important;
}

.navbar-dark {
    background-color: #222831;
    border-color: #4b545c;
    font-size: 17px;
}

[class*=sidebar-dark-] {
    background-color: #222831;
}

.sidebar {
    padding-top: 10px;
}

[class*="sidebar-dark"] .brand-link, [class*="sidebar-dark"] .brand-link .pushmenu {
	color: white;
    text-align: center;
}

[class*="sidebar-dark-"] .sidebar a {
	color: white;
    text-align: center;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #569362;
    color: #222831;
    font-weight: bold;
    font-size: 17px;
    border-radius: 25px;
}

/* /////////////////////////////////////////////////////////////////
        Card
*/

.card {
    margin: 20px;
    border: 4px solid #222831;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: 10px 18px 17px 8px rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
}

.card-header {
    display: flex;
    align-items: center;
    background-color: #222831;
    font-size: 20px;
    margin: 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0%;
}

.card-body {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
thead {
    font-size: 17px;
}

tbody {
    font-size: 17px;
}

.table td, .table th {
	vertical-align: middle;
}

/*
    Tabla
*/

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control {
	position: relative;
	padding-top: 2px;
    padding-bottom: 2px;
	cursor: pointer;
}

.table {
    background-color: #f8f9fa;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    color: #222831;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border: 1px solid #569362;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #569362;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}

table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}

table.dataTable.no-footer {
    border-bottom: 2px double #569362;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 0px;
  border: none;
}

#preview {
    padding-top: 1px;
    padding-bottom: 1px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #569362;
    border-color: #678983;
}

.page-item.active .page-link:hover {
    z-index: 3;
    color: #fff;
    background-color: #314a36;
    border-color: #678983;
}

.page-link {
    color:#314a36;
}

.page-link:hover {
    color:#487b57;
}

/* /////////////////////////////////////////////////////////////////
    Buttons
*/

.btn-circle {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    background-color: #80b68a;
    border: black;
    width: 30px;
    padding: 6px 0px;
    border-radius: 15px;
}

.btn-circle:hover {
    background-color: #527058f3;
    color: #ffffff;
}

#btn-download {
    color:rgb(78, 168, 100);
}

#btn-edit {
    color:rgb(73, 149, 190);
}

#btn-delete {
    color:rgb(214, 87, 87);
}

#btn-download:hover {
    color:rgb(34, 197, 72);
}

#btn-delete:hover {
    color:rgb(220, 43, 43);
}

#btn-edit:hover {
    color:rgb(19, 186, 232);
}

/* ///////////////////////////////////////////////////////*/


.wrapper .icon{
    background-color: #222831;
    margin: 0 20px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    z-index:2;
}

.wrapper .icon span{
    position:relative;
    z-index:2;
    height: 35px;
    width: 35px;
    display:block;
    background: #3a5fc3;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-radius:50%;
    text-align:center;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i{
    font-size:20px;
    line-height:60px;
  }

  /* Forms */

.form-control {
    border: 1px solid #6b6d71;
    width: 300px;
}

#card-form{
    width: auto;
    height: auto;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    float: none;
    margin-bottom: 10px;
}

#forms {
    background-color: white;
    color: #222831;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3%;
}

#form-label {
    display: inline-flex;
    align-items: center;
    width: 500px;
}

#buttons-forms {
    margin-top: 30px;
    margin-bottom: 3px;
}
